{% comment %}
  These are links that appear in your site header that allow users in different
  roles to see different menu items.
{% endcomment %}
{% if site.current_user.signed_in %}
  {% if site.current_user.is_site_owner or site.current_user.is_site_admin or site.current_user.is_thinkific_system %}
    <li class="header-nav__item">
      <a href="{{ site.dashboard_url }}" class="header-nav__link">
        {{ 'liquid.partials.header_user_menu.link_admin' | translate }}
      </a>
    </li>
  {% else %}
    {% if site.current_user.is_course_admin %}
      <li class="header-nav__item">
        <a href="{{ site.course_administrator_dashboard_url }}">
          {{ 'liquid.partials.header_user_menu.link_admin' | translate }}
        </a>
      </li>
    {% endif %}
  {% endif %}
  {% if site.current_user.is_affiliate %}
    <li class="header-nav__item">
      <a href="{{ site.affiliate_dashboard_url }}">
        {{ 'liquid.partials.header_user_menu.link_affiliate' | translate }}
      </a>
    </li>
  {% endif %}
{% endif %}
