{% comment %}
  Include this anywhere that you want social buttons. Includes Facebook, Google+ and Twitter
{% endcomment %}
<div class="share-btn">
  <a class="twitter-share-button" data-related="thinkific" data-size="small" href="https://twitter.com/share">
  	{{ 'liquid.partials.social_buttons.link_tweet' | translate }}
  </a>
</div>
<div class="share-btn">
  <div class="g-plusone" data-size="medium" data-width="80"></div>
</div>
<div class="share-btn">
  <div class="fb-like" data-layout="button_count" data-send="false" data-show-faces="false" data-width="80"></div>
</div>
