{% comment %}
  Place any theme-wide CSS here. It will be included on every page that
  is covered by the theme.

  Note that any CSS placed in this file will need to be placed within
  a <style> tag.
 {% endcomment %}

{% comment %} Bootstrap {% endcomment %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{% comment %} Fonts {% endcomment %}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700">
{% comment %} Your theme's CSS (Theme CSS) {% endcomment %}
<link rel="stylesheet" href="{{ site.theme_css_url }}">
