<footer class="footer hidden-print" id="global-footer">
  <div class="column">
    <div class="row">
      <div class="col-sm-12">
        <ul class="footer-nav">
          <li class="footer-nav__item">
            <a href="http://gocreateacademy.thinkific.com/">
              Home
            </a>
          </li>
          <li class="footer-nav__item">
            <a data-uv-trigger="true" href="mailto:susan@gocreateacademy.com">
              Support
            </a>
          </li>
          
          
        </ul>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="footer-copyright">
          &copy; Copyright GoCreate Academy 2016
        </div>
        <br>
        <a href="http://www.thinkific.com/?utm_source=gocreateacademy&utm_medium=powered-by&utm_campaign=Referral"
           target="_blank" class="footer-powered-by">
          Powered By Thinkific
        </a>
      </div>
    </div>
  </div>
</footer>