{% extends "_layouts/default.html" %}
{% block content %}
<div class="row">
  <section class="primary-content">
    <h1>Thinkific theme</h1>

    <ul class="vertical-nav">
      <li><a href="/site_landing_page.html">Site landing page</a></li>
    </ul>

  </section>

  <section class="secondary-content">
    <h2>Guide</h2>
    <p><a href="/guide/" class="button button--blue">View your Live Wires guide</a></p>
    <p>It provides documentation on how Live Wires works and doubles as your project&rsquo;s style guide when you&rsquo;re ready to dig into design.</p>
  </section>
</div>
{% endblock %}
