{% extends "_layouts/default.html" %}
{% block content %}


<section class="row site-landing__banner">
  <figure>
    <img src="{{ site.banner_url }}" alt="" />
  </figure>
  <div class="primary-content">
    <h1 class="site-landing__banner--title">
        {{ site.banner_title }}
    </h1>
    <h2 class="site-landing__banner--subtitle">
        {{ site.banner_subtitle }}
    </h2>
  </div>
</section>

<section class="row">
  <p class="view-more">
    <a href="http://gocreateacademy.thinkific.com/collections" class="btn btn-large btn-default">
      View all courses
    </a>
  </p>
</section>

{% endblock %}
